<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#222329" />
    <meta
      name="description"
      content="Learn wonderful facts for free with our API."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  
  <body>
    <header class="header">
      <a href="/" class="logo"><h2>NTC Tarefas</h2></a>

      <nav class="navbar">
        <li class="navbar__item">
          <% if (user) { %>
          <a href="/logout" class="header__right">Sair</a>
          <% } else { %>
          <a href="/login" class="btn btn--auth">Entrar</a>
          <% } %>
        </li>
      </nav>
    </header>
    
    <section class="new-task">
      <form action="/api/create" method="post" class="" id="task-form">
        <div class="form__box">
          <input type="text" name="task" class="form__input" placeholder="Add task" value="" />
          <input type="hidden" name="id" class="form__input" placeholder="Add task" value=<%= user.id %> />
          <button aria-label="Add new task" type="submit" class="submit-bnt" >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </form>
    </section>

    <%- body %>
    
<!-- 
    <footer>
      <p>
        This project was made by
        <a href="https://github.com/ddVital">ddVital</a>.
      </p>
      <a href="https://github.com/ddVital/fun-facts-api">
        <i class="fab fa-github"></i>
      </a>
    </footer> -->

    <script src="/js/main.js"></script>
  </body>
</html>
